# SDK_REPO_TOKEN should have the following accesses to SDK repo
# Contents: Read & Write
# Pull requests: Read & Write

#name: Sync OpenAPI to SDK
#
#on:
#  push:
#    branches: [ "main" ]
#
#jobs:
#  sync-openapi:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout backend
#        uses: actions/checkout@v6
#
#      - name: Install Rust toolchain 1.89
#        run: |
#          rustup toolchain install 1.89
#          rustup default 1.89
#
#      - name: Generate openapi.yaml
#        run: cargo run --bin openapi_gen
#
#      - name: Checkout SDK repo
#        uses: actions/checkout@v6
#        with:
#          repository: nordwinder/test-server-sdk
#          path: sdk
#          persist-credentials: false
#
#      - name: Copy openapi.yaml
#        run: cp openapi.yaml sdk/
#
#      - name: Create or update PR
#        uses: peter-evans/create-pull-request@v8
#        with:
#          token: ${{ secrets.SDK_REPO_TOKEN }}
#          path: sdk
#          branch: update-openapi
#          base: main
#          commit-message: "Update OpenAPI specification"
#          title: "Update OpenAPI specification"
#          body: |
#            Automated OpenAPI update from backend.
#
#            Source repository: ${{ github.repository }}
#            Commit: ${{ github.sha }}
