name: OpenAPI yaml generation

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Generate openapi.yaml
      run: cargo run --bin openapi_gen
